<div class="card border-light my-2 mb-3">
    <div class="card-header">15.07.2021</div>
    <div class="card-body">
      <h5 class="card-title">The 13 Best Things to See & Do on the Oregon Coast</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. At tenetur adipisci magnam, blanditiis nesciunt architecto recusandae nulla ipsum delectus aut quaerat error, ducimus repellat! Tempora perspiciatis dignissimos iusto maxime similique?Lorem ipsum dolor sit amet consectetur adipisicing elit. At tenetur adipisci magnam, blanditiis nesciunt architecto recusandae nulla ipsum delectus aut quaerat error, ducimus repellat! Tempora perspiciatis dignissimos iusto maxime similique?Lorem ipsum dolor sit amet consectetur adipisicing elit. At tenetur adipisci magnam, blanditiis nesciunt architecto recusandae nulla ipsum delectus aut quaerat error, ducimus repellat! Tempora perspiciatis dignissimos iusto maxime similique? At tenetur adipisci magnam, blanditiis nesciunt architecto recusandae nulla ipsum delectus aut quaerat error, ducimus repellat! Tempora perspiciatis dignissimos iusto maxime similique?</p>
    </div>
</div>
<div class="card border-light my-2 mb-3">
    <div class="card-header">12.09.2020</div>
    <div class="card-body">
      <h5 class="card-title">The Great American Road Trip: A 4-Month Itinerary Around the USA</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nulla doloribus facilis quae. Quia quod sit voluptatibus fugit quidem numquam vel officiis amet, sunt neque itaque distinctio magni provident aspernatur!</p>
    </div>
</div>
<div class="card border-light my-2 mb-3">
    <div class="card-header">10.04.2019</div>
    <div class="card-body">
      <h5 class="card-title">TNN: What It’s Like Traveling During COVID (& What You Need to Know)</h5>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur eum ut, quidem deleniti, commodi, distinctio minus consequatur possimus accusamus temporibus quae!  Est libero consequatur distinctio repellendus ratione repudiandae rem maiores. Est libero consequatur distinctio repellendus ratione repudiandae rem maiores. Est libero consequatur distinctio repellendus ratione repudiandae rem maiores.</p>
    </div>
</div>
<app-footer></app-footer>